<div class="flex-row" style="background-color: #3f51b5;">
    <div class="flex-row-100">
        <div class="flex-row center">
            <div class="flex-row-15 center pdtop12" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['']">
                <p class="fs15 fwbold ml10">Sparrow Land</p>
            </div>
            <div class="flex-row-10"></div>
            <div class="flex-row-15 center pdtop12" routerLinkActive="active" [routerLink]="['birds']">
                <p class="fs12 fwbold ml10">Birds</p>
            </div>
            <div class="flex-row-15 center pdtop12" routerLinkActive="active" [routerLink]="['animal']">
                <p class="fs12 fwbold ml10">Animals</p>
            </div>
            <div class="flex-row-15 center pdtop12" routerLinkActive="active" [routerLink]="['plants']">
                <p class="fs12 fwbold ml10">Plants</p>
            </div>
            <div class="flex-row-15 center pdtop12" routerLinkActive="active" [routerLink]="['about']">
                <p class="fs12 fwbold ml10">About</p>
            </div>
            <div class="flex-row-15 center pdtop12" routerLinkActive="active" [routerLink]="['contact']">
                <p class="fs12 fwbold ml10">Contact</p>
            </div>
            
        </div>
    </div>
</div>