<div>
    <div class="flex-row">
        <div class="flex-row-100">
            <div class="flex-row popHeader">
                <div class="flex-row-95">
                    <marquee behavior="slide" direction="" loop="1">
                        <p style="position: relative;top:5px;color:red" class="fs12"><span style="font-weight: lighter;">Rxjs Angular</span></p>
                    </marquee>
                </div>
                <div class="flex-row-5">
                    <mat-icon mat-dialog-close class="fright cursor closeBtn">X</mat-icon>
                </div>
            </div>
        </div>
    </div>

    
    
    <div class="flex-row">
        <div class="flex-row-20">
            <div class="flex-row">
                <p class="fs12 box center" (click)="moveTo('fromEvent')">fromEvent</p>
            </div>
        </div>
        <div class="flex-row-20">
            <div class="flex-row">
                <p class="fs12 box center" style="text-align: center;" (click)="moveTo('debounce')">DebounceTime & DistinctUntilChanged</p>
            </div>
        </div>
        <div class="flex-row-20">
            <div class="flex-row">
                <p class="fs12 box center" style="text-align: center;" (click)="moveTo('subject')">Subject</p>
            </div>
        </div>
    </div>
    
    
</div>


