$component:'rxjs';
@import '../../../shared/common-css/common-css.scss';


.box{
    width: 150px;
    height: 150px;
    background: lighten($color: #c0caff, $amount: 8%);
    border: 3px;
    border-radius: 3px;
    margin: 20px;

    &:hover{
        background: #d7dcf7;
    }
}