<div class="flex-row">
    <div class="flex-row-50 center">
        <div class="flex-col m20 border box">
            <p class="fs12 tacenter" id="addVideo">Add Video</p>
            <!-- mat-stroked-button class="flat-btn" style="width: 100px;margin: auto;" -->
            <button #addBtn color="primary" class="btn">Add</button>
        </div>
    </div>
    <div class="flex-row-50 center">
        <div class="flex-col m20 border box" style="max-height:100px;overflow: scroll;">
            <ul id="ulElemId"></ul>
        </div>
    </div>
   
</div>
