<div class="flex-row">
    <div class="flex-row-100">
        <div class="flex-row popHeader">
            <div class="flex-row-95">
                <marquee behavior="slide" direction="" loop="1">
                    <p style="position: relative;top:5px;color:red" class="fs12"><span style="font-weight: lighter;">From Event</span></p>
                </marquee>
            </div>
            <div class="flex-row-5">
                <mat-icon mat-dialog-close class="fright cursor closeBtn">X</mat-icon>
            </div>
        </div>
    </div>
</div>

<div class="flex-row">
    <div class="flex-row-50 center">
        <div class="flex-col m20 border box">
            <p class="fs12 tacenter" id="addVideo">Add Video</p>
            <!-- mat-stroked-button class="flat-btn" style="width: 100px;margin: auto;" -->
            <button #addBtn color="primary" class="btn">Add</button>
        </div>
    </div>
    <div class="flex-row-50 center">
        <div class="flex-col m20 border box" style="max-height:100px;overflow: scroll;">
            <ul id="ulElemId"></ul>
        </div>
    </div>
   
</div>
