<div class="flex-row">
    <div class="flex-row-40 m20">
        <div class="flex-col">
            <p>debounceTime</p>
            <mat-form-field class="example-full-width">
                <mat-label class="fs12">Search...</mat-label>
                <input #myInput class="mb10" type="text" matInput >
            </mat-form-field>
        </div>
    </div>
    <div class="flex-row-20"></div>
    <div class="flex-row-40 m20">
        <div class="flex-col">
            <p>DistinctUntilChanged</p>
            <mat-form-field class="example-full-width">
                <mat-label class="fs12">Search...</mat-label>
                <input #myInput1 class="mb10" type="text" matInput >
            </mat-form-field>
        </div>
    </div>
</div>