<div class="flex-row">
    <div class="flex-row-100">
        <div class="flex-row slidder">
           
            <ng-container *ngFor="let img of BirdImages">
                <div class="flex-row" style="border: 2px solid white;width: 20%;height:30vh;">
                    <img [src]="'data:image/png;base64,'+img.image" [alt]="img.imageName" class="image">
                </div>
            </ng-container>
            
        </div>
        <div class="flex-row slidder">
           
            <ng-container *ngFor="let img of AnimalImages">
                <div class="flex-row" style="border: 2px solid white;width: 20%;height: 30vh;">
                    <img [src]="'../../../assets/images/' + img.src" [alt]="img.name">
                </div>
            </ng-container>
            
        </div>
        <div class="flex-row slidder">
           
            <ng-container *ngFor="let img of PlantImages">
                <div class="flex-row" style="border: 2px solid white;width: 20%;height: 31vh;">
                    <img [src]="'../../../assets/images/' + img.src" [alt]="img.name">
                </div>
            </ng-container>
            
        </div>
        <a class="birds" (click)="prev()">Birds</a>
        <a class="animal" (click)="prev()">Animals</a>
        <a class="plants" (click)="next()">Plants</a>
    </div>
</div>