$component: 'bird-home';
@import '../../../shared/common-css/common-css.scss';

@mixin Btn(){
    position:absolute;
    bottom: 6px;
    margin: 0px;
    padding: 0px;
}

.btn {
    width: 15%;
    padding: 5px;
    border-radius: 3px;
    border: 3px solid #c0caff;
    z-index: 0;
    cursor: pointer;
}

.box {
    height: 200px;
    width: 200px;
    overflow: auto;
    @media (max-width:650px) {
        width: 100%;
    }

}

.searchBar{
    width: 60%;
    margin-left: 30px;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid #c0caff;
    border-radius: 3px;

    &:focus{
        outline: none;
    }
    &:active{
        border-color: white;
    }

}

.updateBtn{
    @include Btn();
    left: 0px;
}

.removeBtn{
    @include Btn();
    right: 0px;
}

.file{
    margin-bottom: 20px;
}



