<div class="flex-row">
    <div class="flex-row-80">
        <div class="flex-row" style="justify-content:space-between;border-right: 1px solid black; max-height: 90vh; overflow: scroll;">
            <div class="flex-row-20 mt20 mr5">
                <div class="flex-row">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Sparrow</mat-card-title>
                            <mat-card-subtitle>Indian House Hold Bird</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Alias accusamus molestiae enim minima consequuntur quia voluptatibus rem quisquam
                                blanditiis expedita?</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="flex-row-20 mt20 mr5">
                <div class="flex-row">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Sparrow</mat-card-title>
                            <mat-card-subtitle>Indian House Hold Bird</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Alias accusamus molestiae enim minima consequuntur quia voluptatibus rem quisquam
                                blanditiis expedita?</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="flex-row-20 mt20 mr5">
                <div class="flex-row">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Sparrow</mat-card-title>
                            <mat-card-subtitle>Indian House Hold Bird</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Alias accusamus molestiae enim minima consequuntur quia voluptatibus rem quisquam
                                blanditiis expedita?</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="flex-row-20 mt20 mr5">
                <div class="flex-row">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Sparrow</mat-card-title>
                            <mat-card-subtitle>Indian House Hold Bird</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Alias accusamus molestiae enim minima consequuntur quia voluptatibus rem quisquam
                                blanditiis expedita?</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="flex-row-20 mt20 mr5">
                <div class="flex-row">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Sparrow</mat-card-title>
                            <mat-card-subtitle>Indian House Hold Bird</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Alias accusamus molestiae enim minima consequuntur quia voluptatibus rem quisquam
                                blanditiis expedita?</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-row-20">
        <div class="flex-row center mt20">
            <h3 class="fs12">Add New Bird</h3>
            <mat-form-field>
                <mat-label class="fs12">Bird Title</mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label class="fs12">Bird SubTitle</mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label class="fs12">About Bird</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
    </div>
</div>