<div class="flex-row">
    <div class="flex-row-100">
        <div class="flex-row center">
            <div class="flex-row-20">
                <p class="fs11" style="margin-top: 20px;">total birds count: {{birdsArray.length}}</p>
            </div>
            <div class="flex-row-60">
                <input type="text" placeholder="Search Bird Here...." class="searchBar" rainbow [(ngModel)]="searchVal">
                <!-- <button mat-raised-button class="btn ml10 p10" style="background: #c0caff;"
                    (click)="save()">Save</button> -->
            </div>
            <div *ngIf="role == 'Normal'">
                <div class="flex-row">
                    <button class="cursor" (click)="Admin('Normal')">{{role}}</button>
                    <div [ngStyle]="{'background-color': user == 'Normal' ? 'red' : '#606fc7'}" class="dot mt5 ml10">
                    </div>
                </div>
            </div>
            <div *ngIf="role == 'Admin'">
                <div class="flex-row-100 mt10">
                    <div class="flex-row">
                        <div>
                            <p class="notification cursor">
                                <span (click)="Notifications()">Notifications</span>
                                <span class="badge">{{this.userBirdArr.length}}</span>
                            </p>
                        </div>
                        <button class="ml10 cursor" style="height: 20px; margin-top: 10px;"
                            (click)="Admin('Admin')">{{role}}</button>
                        <div [ngStyle]="{'background-color': user == 'Admin' ? '#606fc7' : 'red'}"
                            style="margin-top: 15px;" class="dot ml10">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-row-75">
        <div class="flex-row" style="max-height: 90vh; overflow: scroll;">
            <!-- <ng-container *ngFor="let bird of birdsArray | filterPipe:searchVal;let i = index;">
                <div class="flex-row-20 m20 mr5">
                    <div class="flex-row">
                        <mat-card class="box" cardClick [cardId]="this.birdsArray[i].id" [birdsArray]="birdsArray">
                            <div style="position: relative; display: inline-block;">
                                <img class="image" [src]="'data:image/png;base64,'+bird?.image" alt={{bird?.imageName}}>

                                <div style="position: absolute; top: 0%; left: 2%; color: white;">
                                    <mat-card-header>
                                        <mat-card-title>{{bird?.title}}</mat-card-title>
                                        <mat-card-subtitle
                                            style="color:rgb(226, 224, 224)">{{bird?.subTitle}}</mat-card-subtitle>
                                    </mat-card-header>
                                </div>
                            </div>
                            <mat-card-content>

                                <p>{{bird?.about | shortTxt:75}} <span class="fs10 color" (click)="showMore(i)">Show
                                        more</span></p>
                                <div *ngIf="role == 'Normal'" class="fs10"
                                    style="position: absolute;bottom: 0px; color:gray">Picture credit:{{bird?.userName ? bird?.userName : "Aman"}}</div>
                            </mat-card-content>
                            <div *ngIf="role == 'Admin'">
                                <button mat-flat-button class="fs12 updateBtn" style="background-color: transparent;"
                                    (click)="cardUpdateBtn(i)">update</button>
                                <button mat-flat-button class="fs12 removeBtn" style="background-color: transparent;"
                                    (click)="remove(i)">Remove</button>
                            </div>



                        </mat-card>
                    </div>
                </div>
                <ng-template appViewContainer></ng-template>
                <ng-container *ngIf="birdsArray.length == 0">
                    <p>No Content to show</p>
                </ng-container>
            </ng-container> -->
            <ng-container *ngIf="birdsArray | filterPipe:searchVal as filteredBirds">
                <div *ngFor="let bird of filteredBirds; let i = index;" class="flex-row-20 m20 mr5">
                    <div class="flex-row">
                        <mat-card class="box" cardClick [role]="role" [cardId]="bird.id" [birdsArray]="filteredBirds">
                            <div style="position: relative; display: inline-block;">
                                <img class="image" [src]="'data:image/png;base64,'+bird?.image"
                                    alt="{{bird?.imageName}}">
                                <div style="position: absolute; top: 0%; left: 2%; color: white;">
                                    <mat-card-header>
                                        <mat-card-title>{{bird?.title}}</mat-card-title>
                                        <mat-card-subtitle
                                            style="color:rgb(226, 224, 224)">{{bird?.subTitle}}</mat-card-subtitle>
                                    </mat-card-header>
                                </div>
                            </div>
                            <mat-card-content>
                                <!-- <div class="flex-row">
                                    <p [innerHTML]="bird.about | shortTxt:75">
                                        <span class="fs10 color" (click)="showMore(bird.id)">Show more</span>
                                    </p>
                                </div> -->
                                <div class="flex-row">
                                    <div [innerHTML]="bird.about | shortTxt:75"></div>
                                    <span class="fs10 color" (click)="showMore(bird.id)">Show more</span>
                                </div>
                                <div *ngIf="role == 'Normal'" class="fs10"
                                    style="position: absolute;bottom: 0px; color:gray">
                                    Picture credit:{{bird?.userName ? bird?.userName : "SparrowLand"}}
                                </div>
                            </mat-card-content>
                            <div *ngIf="role == 'Admin'">
                                <button mat-flat-button class="fs12 updateBtn" style="background-color: transparent;"
                                    (click)="cardUpdateBtn(i)">update</button>
                                <button mat-flat-button class="fs12 removeBtn" style="background-color: transparent;"
                                    (click)="remove(i)">Remove</button>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div class="flex-row-100 tacenter" style="margin-top: 100px;">
                    <ng-container *ngIf="filteredBirds.length === 0">
                        <p>No Content to show</p>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="flex-row-20" *ngIf="role == 'Admin'">
        <div class="flex-col mt20" [formGroup]="form" style="border-left: 1px solid black;padding-left: 40px;">
            <h3 class="fs12">Add New Bird</h3>
            <mat-form-field>
                <mat-label class="fs12">Bird Title</mat-label>
                <input type="text" matInput formControlName="title" maxlength="16">
            </mat-form-field>
            <mat-form-field>
                <mat-label class="fs12">Bird SubTitle</mat-label>
                <input type="text" matInput formControlName="subTitle" maxlength="24">
            </mat-form-field>
            <div class=" flex-col file">
                <label class="fs12">Bird Image</label>
                <input style="width: 200px;" formControlName="image" type="file" (change)="onFileSelected($event)">
            </div>
            <mat-form-field>
                <mat-label class="fs12">About Bird</mat-label>
                <textarea matInput formControlName="about" maxlength="100000"></textarea>
            </mat-form-field>

            <button mat-flat-button class="btn" *ngIf="!this.Autoupdate" (click)="add()">Add</button>
            <button mat-flat-button class="btn" *ngIf="this.Autoupdate" (click)="updateBtn()">Update</button>
        </div>
    </div>
    <div class="flex-row-20" *ngIf="role == 'Normal'">
        <div class="flex-col center mt20" style="border-left: 1px solid black;">
            <p *ngIf="this.clickedBird == ''" class="birdImg" style="align-items: center;">Single click on Image for
                Better view and double click for more details.</p>
            <img *ngIf="this.clickedBird != ''" [src]="'data:image/png;base64,'+this.clickedBird.image" alt="New Image"
                class="birdImg">
            <h1 *ngIf="this.clickedBird != ''" style="margin-left: 20px;"><b>{{this.clickedBird.title}}</b></h1>
        </div>
    </div>
</div>