<div class="flex-row">
    <div class="flex-row-100">
        <div class="flex-row center">
            <div class="flex-row-60">
                <input type="text" placeholder="Search Bird Here...." class="searchBar" rainbow [(ngModel)]="searchVal">
                <!-- <button mat-raised-button class="btn ml10 p10" style="background: #c0caff;"
                    (click)="save()">Save</button> -->
            </div>
            <div *ngIf="role == 'Normal'">
                <div class="flex-row">
                    <button (click)="Admin('Normal')">{{role}}</button>
                    <div [ngStyle]="{'background-color': user == 'Normal' ? 'red' : '#606fc7'}" class="dot mt5 ml10"></div>
                </div>
            </div>
            <div *ngIf="role == 'Admin'">
                <div class="flex-row">
                    <button (click)="Admin('Admin')">{{role}}</button>
                    <div [ngStyle]="{'background-color': user == 'Admin' ? '#606fc7' : 'red'}" class="dot mt5 ml10"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-row-80" [ngClass]="{'flex-row-80': role === 'Admin','flex-row-100': role === 'Normal'}">
        <div class="flex-row" style="max-height: 90vh; overflow: scroll;">
            <ng-container *ngFor="let bird of birdsArray | filterPipe:searchVal;let i = index;">
                <div class="flex-row-20 m20 mr5">
                    <div class="flex-row">
                        <mat-card class="box" cardClick [cardId]="i">
                            <div style="position: relative; display: inline-block;">
                                <img class="image" [src]="'data:image/png;base64,'+bird?.image" alt="new img">
                                <div style="position: absolute; top: 0%; left: 2%; color: white;">
                                  <mat-card-header>
                                    <mat-card-title>{{bird?.title}}</mat-card-title>
                                    <mat-card-subtitle>{{bird?.subTitle}}</mat-card-subtitle>
                                </mat-card-header>
                                </div>
                              </div>
                            <mat-card-content>

                                <p>{{bird?.about | shortTxt:75}} <span class="fs10 color" (click)="showMore(i)">Show
                                        more</span></p>
                            </mat-card-content>
                            <div *ngIf="role == 'Admin'">
                                <button mat-flat-button class="fs12 updateBtn" style="background-color: transparent;"
                                    (click)="cardUpdateBtn(i)">update</button>
                                <button mat-flat-button class="fs12 removeBtn" style="background-color: transparent;"
                                    (click)="remove(i)">Remove</button>
                            </div>



                        </mat-card>
                    </div>
                </div>
                <!-- <div appViewContainer></div> -->
                <ng-template appViewContainer></ng-template>
                <ng-container *ngIf="birdsArray.length == 0">
                    <p>No Content to show</p>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <div class="flex-row-20" *ngIf="role == 'Admin'">
        <div class="flex-col center mt20" [formGroup]="form" style="border-left: 1px solid black;">
            <h3 class="fs12">Add New Bird</h3>
            <mat-form-field>
                <mat-label class="fs12">Bird Title</mat-label>
                <input type="text" matInput formControlName="title" maxlength="16">
            </mat-form-field>
            <mat-form-field>
                <mat-label class="fs12">Bird SubTitle</mat-label>
                <input type="text" matInput formControlName="subTitle" maxlength="24">
            </mat-form-field>
            <div class=" flex-col file">
                <label class="fs12">Bird Image</label>
                <input style="width: 200px;" formControlName="image" type="file" (change)="onFileSelected($event)">
            </div>
            <mat-form-field>
                <mat-label class="fs12">About Bird</mat-label>
                <textarea matInput formControlName="about" maxlength="100000"></textarea>
            </mat-form-field>

            <button mat-flat-button class="btn" *ngIf="!this.Autoupdate" (click)="add()">Add</button>
            <button mat-flat-button class="btn" *ngIf="this.Autoupdate" (click)="updateBtn()">Update</button>
        </div>
    </div>
</div>