@import '../../shared/common-css/partials/base';
@import '../../shared/common-css/partials/utility';

*{
    font-family: Arial, sans-serif;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tacenter{
    text-align: center !important;
}

.redcolor{
    color: red;
}
