<div class="flex-row">
    <div class="flex-row-10"></div>
    <div class="flex-row-80">
        <mat-card>
            <mat-card-content class="tacenter fs12">Contact Us</mat-card-content>
            <form class="m20" [formGroup]="form">

                <small class="redcolor" *ngIf="form.controls['firstName'].valid">firstName is required !!</small>
                <mat-form-field class="example-full-width">
                  <mat-label class="fs12 fwbold" style="color: black;">First Name</mat-label>
                  <input matInput formControlName="firstName">
                </mat-form-field>

                <small>lastName is required !!</small>
                <mat-form-field class="example-full-width">
                  <mat-label class="fs12 fwbold" style="color: black;">Last Name</mat-label>
                  <input matInput formControlName="lastName">
                </mat-form-field>

                <small>email is required !!</small>
                <mat-form-field class="example-full-width">
                  <mat-label class="fs12 fwbold" style="color: black;">Email</mat-label>
                  <input matInput formControlName="email">
                </mat-form-field>

               
            </form>
        </mat-card>
    </div>
    <div class="flex-row-10"></div>
</div>