<div class="flex-row">
  <div class="flex-row-10"></div>
  <div class="flex-row-40">
    <mat-card class="mt20">
      <mat-card-content class="tacenter fs12">Contact Us</mat-card-content>
      <form class="m20" [formGroup]="form" (ngSubmit)="submitForm()">

        <div formGroupName="userDetails">
          <small class="redcolor"
            *ngIf="form.get('userDetails.firstName')?.errors?.['required'] && form.get('userDetails.firstName')?.touched">First
            Name
            is
            required !!</small>
          <small class="redcolor"
            *ngIf="form?.get('userDetails.firstName')?.errors?.['Invalid userName'] && form.get('userDetails.firstName')?.touched">Invalid
            First Name !!</small>
          <mat-form-field class="example-full-width">
            <mat-label class="fs12 fwbold" style="color: black;">First Name</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field>

          <small class="redcolor"
            *ngIf="!form.get('userDetails.lastName')?.valid && form.get('userDetails.lastName')?.touched">lastName is
            required !!</small>
          <mat-form-field class="example-full-width">
            <mat-label class="fs12 fwbold" style="color: black;">Last Name</mat-label>
            <input matInput formControlName="lastName">
          </mat-form-field>

          <small class="redcolor"
            *ngIf="!form.get('userDetails.email')?.valid && form.get('userDetails.email')?.touched"> valid email is
            required
            !!</small>
          <mat-form-field class="example-full-width">
            <mat-label class="fs12 fwbold" style="color: black;">Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>

          <mat-form-field>
            <mat-label class="fs12" style="color: black;">City</mat-label>
            <mat-select class="example-full-width" formControlName="cityName">
              <mat-option value="Kanpur Nagar">Kanpur Nagar</mat-option>
              <mat-option value="Lucknow">Lucknow</mat-option>
            </mat-select>
          </mat-form-field>
          <br>

          <mat-label class="fs12">Gender</mat-label>
          <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-radio-button color="primary" value="Male"><span class="fs12">Male</span></mat-radio-button>
            <mat-radio-button color="primary" value="Female"><span class="fs12">Female</span></mat-radio-button>
          </mat-radio-group><br>

        </div>

        <ng-container class="mb10" *ngFor="let comment of addCommentsControls;let i = index;">
          <mat-form-field class="example-full-width" formArrayName="addComments">
            <mat-label class="fs12">Add Comments</mat-label>
            <input class="mb10" type="text" matInput formControlName="{{i}}">
          </mat-form-field>
        </ng-container>

        <button mat-flat-button class="flat-btn mb10 mr10" type="button"><span class="color fs12"
            (click)="addComments()">+ Add
            Comments</span></button>
        <button mat-flat-button class="flat-btn mb10" type="button"><span class="color fs12"
            (click)="removeComment()">Remove
            Comment</span></button><br>

        <button mat-raised-button color="primary" type="submit">Submit</button>

      </form>
    </mat-card>
  </div>
  <div class="flex-row-40">
    <div class="flex-row">
      <h1>Send Bird Details that you want to add here !!</h1>
      <form [formGroup]="birdForm">
        <div formGroupName="birdFormDetails">
          <mat-form-field class="example-full-width">
            <mat-label class="fs12 fwbold" style="color: black;">Bird Name</mat-label>
            <input matInput formControlName="birdName">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label class="fs12 fwbold" style="color: black;">Bird SubTitle</mat-label>
            <input matInput formControlName="birdSubTitle">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label class="fs12 fwbold" style="color: black;">About Bird</mat-label>
            <input matInput formControlName="aboutBird">
          </mat-form-field>
          <!-- <mat-form-field class="example-full-width"> -->
          <!-- <mat-label class="fs12 fwbold" style="color: black;">Bird Image</mat-label> -->
          <!-- <input matInput formControlName="birdImage"> -->
          <div>
            <label class="fs12">Bird Image</label>
            <input style="width: 200px;" formControlName="birdImage" type="file" (change)="onFileSelected($event)">
          </div>
          <!-- </mat-form-field> -->
          <mat-form-field class="example-full-width">
            <mat-label class="fs12 fwbold" style="color: black;">Your Name</mat-label>
            <input matInput formControlName="userName">
          </mat-form-field>

          <button (click)="SendBird()">Send Bird</button>
        </div>
      </form>
    </div>
  </div>
  <div class="flex-row-10"></div>
</div>